html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
}
body{
	margin: 0;
	background-image: url('https://picsum.photos/1200');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position:center; */
}
.container{
	width: 550px;
	margin: 30vh auto;
	padding: 20px;
	box-shadow: 0px 0px 22px 5px red;
	background-color: rgba(255, 245, 238, 0.514);

}
.result{
	width: 300px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 0px 50px 15px rgba(255, 157, 0, 0.794);

}
.result h3{
	margin: 0;
}
.result ol {
	margin: 0;
}
.input,.tozalash{
	width: 120px;
	border-radius: 20px;
	padding: 10px;
	height: 30px;
	border: none;
	box-shadow: 0 0 20px 1px rgb(40, 27, 214);
	margin: 10px;
	outline: none;
}
.add_to_front, .add_to_end, .clearList,.toza{
	width: 90px;
	height: 30px;
	border-radius: 25px;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px 1px rgb(17, 189, 60);
	background: #000;
	color: rgb(255, 255, 255);
}